.card {
  /* display: flex; */
  color: rgb(94, 4, 4);
}
.link {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.activeLink {
  color: crimson;
}
.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
